*{
    padding:0;
    margin:0;
    box-sizing:0;
    font-family: sans-serif;
 }
 .navbar{
     display:flex;
     justify-content: center;
     gap:60px;
     padding:13px;
     background-color:dodgerblue;
 }
 .navbar a{
     text-decoration:none;
     color:white;
 }
  .navbar a:hover{
     color:rgb(255, 143, 6);
 }
 body {
    font-family: Arial, sans-serif;
}
.container{
    margin-top:40px;
    display: flex;
    align-items: center;
    height:100vh;
    justify-content: center;
}
.main-div{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding:40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom:30px;
}

label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#result {
    margin-top: 20px;
}